  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
 @import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');


 
.logo{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

nav ul{
  padding: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-decoration: none;
    list-style-type: none;
    align-items: center;
}

ul li a{
    text-decoration: none;
    color: rgb(10, 6, 15);
    /* font-family: 'Lobster', cursive;
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 10rem; */
    

}
.wa{
  text-decoration: none;
    color: rgb(10, 6, 15);

}

.card {
    max-width: 30%;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    background-color: rgb(97, 165, 233);
  }
  .card .card-image .card-title {
    color: rgb(10, 6, 15);
    position: unset
  }
  .boton-agregar{
    width: 75px;
    background-color: azure;
    font-weight: bold;
    border-radius: 50px;
  
  }    
  
  td img {
    max-width: 150px;
    max-height: 150px;
}
td,th,input,label{
    font-size: 20px;
    font-weight: bold;
    color: rgb(10, 6, 15);
}
 
main{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
 
  header{
     
    padding: 10px;
    background-color: rgb(97, 165, 233);
    color: rgb(10, 6, 15);
    font-size: 20px;
    font-weight: bold;
    height: 200px;
  
}

  

ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
     color: rgb(10, 6, 15);
    font-size: 20px;
    font-weight: bold;
} 
main{
  padding:100px;
 } 
.logo a{
    text-decoration: none;
    color: rgb(10, 6, 15);
    font-size: 20px;
    font-weight: bold;
}   
   .imagen{
  background-color: #f8dbd3;
  background-image: url("../c.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  background-position: center;
   
}  
.imagen p{
       display: flex;
        flex-direction: column;
}
.especialidades{
  height: 50px;
   
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  color: blue;
  border-radius: 10px;
  border: solid 2px black;
   margin-left: 75px;
   margin-right: 75px;
}

img .doctor1{
  width: 500px;
  height:500px;
}
.imagen h1{
  color: rgb(10, 6, 15);
  font-size: 100px;
  font-weight: bold;
  text-align: center;
  
}
.section1
{
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.color{
  color:orange;
 }

 .medicoParticular{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
 }
 .hide{
   display: none;
 }
 .active{
  display: block;
 }
 .card123{
color: blue;
 }
 .consultaRapidafondo{
  height: 90vh;
 }

 footer{
  height: 30vh;
  background-color: rgb(97, 165, 233); 
  text-align: center;
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center
  }
   
  footer p{
    font-size: 1.25rem;
  }
    .publicidad img{
    width:300px;
    height: 300px;
    border-radius: 10px;

  }    
  .publicidad{
     display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: space-evenly;
    
      gap: 30px;
  }
  
  .navDropColor{
    color: rgb(0, 0, 0);
    /* background-color: rgb(255, 255, 255); */
    font-family:  Arial, Helvetica, sans-serif;
    font-weight: bold;

  }
  .fond{
    background-color: rgb(97, 165, 233);
  }
  .fondLi li a{
    color: rgb(0, 0, 0);
    font-family:  Arial, Helvetica, sans-serif;
    font-weight: bold;
  }
  .fondLi li a:hover{
    color: rgb(0, 0, 0);
    background-color: blue;
    font-family:  Arial, Helvetica, sans-serif;
    font-weight: bold;
  }
  /* ul li a{
    text-decoration: none;
    color: rgb(10, 6, 15);
    font-family: 'Lobster', cursive;
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 10rem;

}

h1{
  font-size: 10rem;
  font-family: 'Lobster', cursive;
  font-family: 'Merriweather Sans', sans-serif;
  color: rgb(10, 6, 15);
  text-align: center;
  font-weight: bold;
} */
 /* .abrirCalendar{
  modalCalendar
} */
 .asd{
  background-color: blueviolet;
   
 }
.modalCalendar{
  
   top: 0;
  width: 100%;
  
  display: flex;
  justify-content: center;
  align-items: center;
   visibility: hidden;
  
  background-color: rgba(255, 255, 255, 0.3);
}
.modal-active {
  
  opacity: 1;
  visibility: visible;
  z-index: 5;  
}
.a{
  background-color: blueviolet;
}
 
.imagen h1{
  font-size: 4rem;
  font-family: 'Lobster', cursive;
  font-family: 'Merriweather Sans', sans-serif;
  color: rgb(10, 6, 15);
  text-align: center;
  font-weight: bold;
}

.link {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-family: 'Lobster', cursive;
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 1rem;
  font-weight: bold;
}
 .h3card  {
   color: black;
    font-size: 1rem;
 }
 .h3card{
    color: black;
    
 }
 .logo img{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-left: 10px;
  margin-right: 10px;
 }
 .fondoImagen .logo a{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  color: rgb(10, 6, 15);
  font-size: 20px;
  font-weight: bold;
 }
 .logo a h2{
  color: rgb(10, 6, 15);
  font-size: 25px;
  font-weight: bold;
 }
 footer img{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  
 }
 footer{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
 }
 .registro{
  display: flex;
  flex-direction: row;
  justify-content:center;
  margin-left:10px;
 }
 .consultaDoctor{
  border-radius: 25px ;
padding-left: 10px;
  height: 250px;
  border: 0,1px solid black;
  background-color: rgb(255, 255, 255);
  line-height: 50px;
 }
 .cDoctor{
  display: flex;
  flex-direction: column;
   background-color: rgb(212, 212, 212);
 }
 .odontologos{
  display:flex;
  flex-direction: column;
  justify-content: center;
 }